<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231072860001-ue59a32vrc0st6kmfi0t45ags2k981bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231072860001-ue59a32vrc0st6kmfi0t45ags2k981bc</string>
	<key>API_KEY</key>
	<string>AIzaSyBgcrvZlNgMdF5lV1s8upX2aQ50PSNvN0w</string>
	<key>GCM_SENDER_ID</key>
	<string>231072860001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.partilheMais.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>partilhe-mais</string>
	<key>STORAGE_BUCKET</key>
	<string>partilhe-mais.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231072860001:ios:fd540f90be49e4fbbc6720</string>
</dict>
</plist>